html {
    background: black;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgb(82, 187, 170);
}

::-webkit-scrollbar-thumb {
    background-color: black;
}

body {
    font-family: 'Segoe UI', sans-serif;
    color: #333333
}

#main {
    background-color: rgb(82, 187, 170);
    padding: 15px;
}

#title {
    font-size: 2.5rem;
    text-align: center;
    padding: 2px;
    font-weight: bold;
    margin-bottom: 0px;
}

#p-title {
    text-align: center;
    color: rgb(51, 51, 51);
}

#img-div {
    background-color: rgb(82, 187, 170);
    padding: 10px;
    margin: 0px;
    border-radius: 5px;
}

#image {
    display: block;
    max-width: 100%;
    height: auto;   
    border-radius: 5px;
}

#img-caption {
    text-align: center;
    color: #333333;
    padding-top: 10px;
    margin-bottom: 10px;
}

#tribute-info {
    text-align: center; 
}

#tribute-info ul {
    max-width: 700px;
    margin: 0px auto 50px auto;
    text-align: left;
    line-height: 1.6;
}

#headline {
    margin: 50px 0px;
}

li {
    margin: 16px 0;
}

#tribute-info div {
    max-width: 550px;
    margin: 0px auto 50px auto;
    text-align: left;
    font-style: italic;
    line-height: 1.6;
}

#more-info {
    color: #333333;
    font-weight: bold;
}

#more-info a {
    color: rgb(119, 10, 10);
}